body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d9d7c3;
}
header {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #333333;
}
button {
    background-color: #d9d7c3;
    color: #333333;
    border: 2px solid #333333;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
}
.post {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    min-height: 50px;
    border-radius: 10px;
    border: 2px solid #333333;
    text-wrap: break-word;
}
.post-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.post-author {
    font-weight: bold;
    font-size: 14px;
}
.post-date {
    font-size: 10px;
    color: #777777;
}
.post-header {
    display: flex;
    flex-direction: column;
}
nav{
    background-color: #d9d7c3;
    color: #333333;
    padding: 10px;
    text-align: center;
    position: sticky;
    border-bottom: #333333 2px solid;
}
.post-form {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    border: 2px solid #333333;
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
textarea{
    width: 50%;
    height: 20px;
    padding: 10px;
    border: 2px solid #333333;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
.text-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    height: 200px;
    resize: vertical;
}
.info {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    border: 2px solid #333333;
    text-align: center;
}
nav button {
    background-color: #ffffff;
    color: #333333;
    border: 2px solid #333333;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
}
.small-button {
    background-color: #d9d7c3;
    color: #333333;
    border: 2px solid #333333;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 7.5px;
}
.option {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    width: 75%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    border: 2px solid #333333;
    border-top: none;
    margin-top: -2px;
}

.highlighted {
    font-weight: 1000;
    border:#333333 solid 3px;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #333333;
    z-index: 4;
    min-height: 500px;
    align-items: center;
    justify-content: center;
}
.popup button {
    margin-top: 20px;
    align-self: center;
    justify-self: center;
}
.replies {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    margin: 20px auto;
    margin-top: -22px;
    width: 48%;
    min-height: 50px;
    border-radius: 0 0 15px 15px;
    border: 2px solid #333333;
    border-top: 2px solid #c2c2c2;
    text-wrap: break-word;
}
.lazy-horizontal {
    display:flex;
    flex-direction: row;
    gap:20px
}
.lazy-vertical {
    display:flex;
    flex-direction: column;
    gap:20px
}
.vertical-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.reply {
    background-color: #ffffff;
    color: #333333;
    padding: 10px;
    border: 1px solid #333333;
    width: 90%;
    margin-top: 20px;
}
.backdrop {
    display: none;
    position: fixed;
    top: -500%;
    left: -500%;
    width: 1000%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}